@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bakbak+One&family=Barlow+Condensed&family=Bebas+Neue&family=Fredericka+the+Great&family=Heebo&family=Mulish&family=Open+Sans+Condensed:ital,wght@1,300&family=Patua+One&family=Righteous&family=Roboto+Slab:wght@300;400;500&family=Yanone+Kaffeesatz:wght@500&family=Zilla+Slab+Highlight:wght@700&display=swap');
html {
	scroll-behavior: smooth;
}

body{
	padding: 0;
	margin: 0;    
	box-sizing: border-box;
	font-family: "Barlow Condensed";
}

body a{
	text-decoration: none;
	cursor: pointer;
	color: black;
	padding: 10px 30px;
}

body a:hover{
	color: black;
	background-color: rgb(247, 247, 247);
	border-radius: 3px;
}

.navbar{
	padding: 25px 10px;
	background-color: white;
}

.navbar ul{
	list-style: none;
    display: contents;
    padding: 10px;
    align-items: center;
    margin: 0px;
}

.navbar ul li{
	padding: 10px 30px;
}

.navbar ul li a {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.logo{
	float: left;
}

.register{
	float: right;
}

.register-btn, .see-examples-btn:hover{
	background-color: rgb(13, 72, 197);
	border: none;
	padding: 10px 35px;
	color: white;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	font-family: "Barlow Condensed";
}

.header-container{
	display: flex;
    align-items: center;
	padding: 30px;
}

.heading h1{
	font-family: 'Fredericka the Great', cursive;
	font-size: 60px;
}

.heading p{
	color: gray;
}

.sign-in, .see-examples-btn, .register-btn:hover{
	background-color: white;
	border: 2px solid rgb(13, 72, 197);
	border-radius: 2px;
	padding: 8px 35px;
	color: rgb(13, 72, 197);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	font-family: "Barlow Condensed";
}

.see-examples-btn{
	margin: 0px 30px;
}

.heading-graphics img{
	width: 700px;
}

.features-container{
	display: flex;
	flex-wrap: wrap;
}

.feature{
	width: 380px;
	background-color: #f6f6f68c;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
}

.feature h2{
	font-family: 'Yanone Kaffeesatz';
}

.feature p{
	width: auto;
	padding: 10px;
	color: gray;
}

.feature:hover{
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	cursor: pointer;
}

.about-container{
	display: flex;
	width: 100%;
	padding: 30px 5px;
}

.about-heading{
	width: -webkit-fill-available;
}

.about-heading h1, .contact-form-div h1{
	font-family: 'Anton', Courier, monospace;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.contact-form-div h1{
	text-align: center;
	font-size: 48px;
	color: white;
}

.about-heading h1{
	text-align: right;
	font-size: 60px;
	padding: 5px 60px;
}

.about-heading p{
	text-align: right;
	padding: 10px 60px;
	color: gray;
}

.about-image{
	width: 30%;
}

.about-image img{
	width: 400px;
}

.contact-form-div{
	padding: 70px 50px;
	background: rgb(13, 72, 197);
	color: white;
}

.contact-form-div p{
	text-align: center;
	color: white;
}

.contact-form-div form{
	width: -webkit-fill-available;
}

.contact-form-div > form > input{
	margin: 10px;
	width: 23%;
	padding: 5px 30px;
	border: 1px solid rgb(180, 180, 180);
	border-radius: 4px;
}

.contact-form-div > form > input:nth-last-child(1){
	background-color: black;
	border: 2px solid black;
	border-radius: 2px;
	padding: 8px 35px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	font-family: "Barlow Condensed";
}

.contact-form-div > form > input:nth-last-child(1):hover{
	background-color: white;
	border: 2px solid black;
	color: black;
	text-transform: uppercase;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-family: "Barlow Condensed";
	letter-spacing: 1px;
	text-transform: uppercase;
  }

.footer-container{
	position: absolute;
	padding: 10px 50px;
	width: 90%;
}

.footer-container p {
	padding: 3px;
	margin: 3px;
}

.footer-container ul{
	display: flex;
	list-style: none;
    align-items: center;
    justify-content: center;
}

.footer-container ul li{
	padding: 10px 50px;
}
 
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 25% !important;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .form-container, .register-container{
	  padding-bottom: 20px;
  }

  .form-container p{
	  align-items: center;	
	  font-family: "Barlow Condensed";
	  margin: 10px 20px;
	  letter-spacing: 1px;
	  text-transform: uppercase;
  }

  .form-container h1, .register-container h1{
	  text-align: center;
	  padding: 20px 10px;
	  text-align: center;
	  font-size: 32px;
	  font-family: 'Anton', Courier, monospace;
	  text-transform: uppercase;
	  letter-spacing: 5px;
  }

  .form-container input[type = 'text'], .form-container input[type = 'password'], .register-container input[type = 'text'], .register-container input[type = 'password']{
	margin: 10px 20px;
	padding: 3px 10px;
	border: 1px solid lightgray;
	width: 300px;
  }

  .form-container form input[type = 'submit'], .register-container form input[type = 'submit']{
	  width: 200px;
	  background-color: rgb(13, 72, 197);
	  border: 2px solid rgb(13, 72, 197);
	  padding: 3px 35px;
	  color: white;
	  border-radius: 3px;
	  text-transform: uppercase;
	  letter-spacing: 3px;
	  font-weight: bold;
	  font-family: "Barlow Condensed";
  }

  .form-container form input[type = 'submit']:hover, .register-container form input[type = 'submit']:hover{
	background-color: white;
	border: 2px solid rgb(13, 72, 197);
	color: rgb(13, 72, 197);
}