@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Nunito:wght@300&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@300;500&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container-one{
    background: none;
    height: inherit;
    display: flex;
}

.sub-container-one{
    background: white;
    width: 45%;
}

.sub-container-two{
    background: #0404f9bf;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.form-container{
    background: white;
    height: 70vh;
    border-radius: 5px;
    width: 30%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    left: 0;
    position: absolute;
    margin: 1% 14%;
    padding: 2%;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-size: 30px;
    letter-spacing: 4px;
}

.description-container{
    width: -webkit-fill-available;
    text-align: right;
    padding: 0% 20%;
}

h3, p{
    color: white;
}

h3{
    font-family: "Roboto Condensed";
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

p{
    font-family: 'Open Sans';
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;    
    padding: 1% 0% 0% 10%;
}

.group{
    padding: 10% 4%;
}

.group a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab';
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 3% 7%;
    cursor: pointer;
}

.group a:nth-child(2){
    background: #0000003d;
    border-radius: 40px;
}

.social-icons{
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-facebook-f{
    color: #375fd0;
    font-size: 25px;
    padding: 3% 10%;
    cursor: pointer;
}

.fa-twitter{
    color: lightblue;
    font-size: 25px;
    padding: 3% 10%;
    cursor: pointer;
}

.fa-google-plus-g{
    color: red;
    font-size: 25px;
    padding: 3% 10%;
    cursor: pointer;
}

h2 {
    width: 100%; 
    border-bottom: 1px solid #d6d6d6; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-family: 'Open Sans';
    letter-spacing: 2px;
    font-size: 13px;
    text-align: center;
    color: gray;
 } 
 
h2 span { 
     background:#fff; 
     padding:0 40px; 
}

form{
    padding: 5%;
}

form input{
    margin: 2%;
    padding: 3% 5%;
    border: none;
    background: #e8e8e887;
    border-radius: 4px;
    width: 90%;
}

form input[type='submit']{
    margin: 5%;
    background: #0734dae8;
    cursor: pointer;
    font-family: 'Roboto Condensed';
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;   
}

::-webkit-input-placeholder{
    font-family: 'Roboto Condensed';
    letter-spacing: 2px;
}

@media(max-width:900px){
    .sub-container-one{
        display: none;
    }

    .form-container{
        width: 60%;
        height: inherit;
    }

    .sub-container-two{
        display: block;
        align-items: center;
        height: fit-content;
    }

    .form-container{
        position: relative;
    }
}