@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&family=Poppins:wght@100;700&display=swap');

:root{
    --bs-primary: #0d6efd;
    --fc-white: white;
    --fc-gray: rgb(228, 228, 228);
    --btn-primary: #00183c5e;
}

body{
    padding: 0;
    margin: 0;
}

nav{
    display: none;
}

.main-page-container-one{
    background: var(--bs-primary);
    color: var(--fc-white);
    padding: 3% 4% 6% 10%;
    height: inherit;
}

h1{
    font-family: "Roboto Condensed";
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.description{
    display: flex;
}

.description > p{
    width: 50%;
    color: var(--fc-gray);
    text-align: justify;
    padding: 3% 0% 3% 0%;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    font-family: "Source Sans Pro";
    letter-spacing: 2px;
}

.contact-btn{
    text-transform: uppercase;
    background: var(--btn-primary);
    position: relative;
    border: none;
    padding: 2% 5%;
    margin: 0;
    color: var(--fc-white);
    font-family: "Poppins";
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 18px;
    border-radius: 1%;
    cursor: pointer;
    display: inline-flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.contact-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
      -webkit-transition: none;
         -moz-transition: none;
              transition: none;
}

.contact-btn:hover:after {
    width: 100%;
    background-color: rgba(255,255,255,0);
      -webkit-transition: all 0.4s ease-in-out;
         -moz-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
}

.contact-btn > i{
    font-size: 40px;
    margin: 0% 0% 0% 1%;
}

.main-page-container-one > i {
    float: right;
    font-size: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

@media(max-width:1200px){
    .description > p{
        width: 100%;
        font-size: 13px;
    }

    .description > img{
        display: none;
    }

    h1{
        font-size: 30px;
    }

    .main-page-container-one{
        height: inherit;
    }

    .contact-btn > i{
        font-size: inherit;
    }
}