
{% extends "template.html" %}
{% load static %}
{% block content %}
 
          <div class="main-content">
              <div class="main-image">
                  <img src="{% static 'Images/background.png' %}" alt="" style="width:600px">
              </div>
              <div class="main-description">
                <h1>Text to HTML Convertor</h1>
                <p>To get the demo of the application. Please fill the form below and click on the get demo button. We will get in touch with you.
                    <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cum adipisci eligendi ea velit tempora nemo, nihil aspernatur reprehenderit enim fuga dignissimos, perferendis libero ipsum debitis, earum quis dolore asperiores temporibus veniam molestias. Dolorum quos laudantium maiores delectus quia voluptates vero modi aliquam eligendi commodi pariatur quae ullam, rem illo nisi tempore cumque itaque officiis obcaecati culpa sapiente iusto voluptatem velit ea? Delectus fugit, quae sunt deleniti aperiam impedit quis!</p>
                <form id="demo-form" method="POST">
                    <input type="email" class="form-control" name="customer-mail" id="customer-mail" placeholder="Enter E-Mail Address" required/>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">Get Demo</button>
                </form>
                <div id="demo-response"></div>
              </div>
          </div>
          <div class="about-content" id="about-content" >
              <div class="about-heading">
                  <h1>About</h1>
              </div>
              <div class="about-description">
                  <p><span>L</span>orem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est enim esse, laboriosam quas praesentium explicabo repellendus eius nisi quam. Aperiam esse itaque minus recusandae animi placeat corrupti ratione nisi sint ipsa facere et atque ipsum, distinctio totam, qui fugiat iusto porro quibusdam delectus dicta ea? Accusantium voluptate doloribus nam minima, esse recusandae odio nihil quo, ipsam non quisquam in voluptas! Excepturi officiis rerum nisi, nesciunt hic exercitationem deserunt numquam pariatur sint ratione aspernatur, saepe laborum rem impedit adipisci nemo, veritatis consequatur velit sed est error necessitatibus. Fugiat consequatur ullam veniam itaque aliquid nesciunt cum vel architecto, odio nam ea!</p>
              </div>
          </div>
          <div class="footer-content">
              <ul>
                  <li>
                      Copyrights @ 2021 Inc Private Ltd.
                  </li>
                  <li class="footer-list-items">
                      <a href=""> Privacy Policy</a>
                  </li>
                  <li class="footer-list-items">
                      <a href="">Terms of Service</a>
                  </li>
              </ul>
          </div>

          {% endblock %}