@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Lato&family=Lexend:wght@500;800&family=Montserrat:wght@500&family=Noto+Sans+JP&family=Oswald:wght@700&family=PT+Sans&family=Rubik&family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.nav{
    height: 80px;
    width: 100%;
    background: white;
    position: fixed;
}

.nav > .nav-header{
    display: inline;
}

.logo{
    font-size: 30px;
    color: black;
    display: inline-flex;
    padding: 15px 50px;
    font-family: 'oswald';
    letter-spacing: 5px;
}

#nav-checkbox{
    display: none;
}

.nav-btn{
    display: none;
    float: right;
}

.nav-btn > i{
    font-size: 30px;
    color: black;
    padding: 30px;
    cursor: pointer;
}

#menu-cancel{
    display: none;
    text-align: right;
    font-size: 23px;
    cursor: pointer;
}

.nav-links{
    float: right;
    display: inline-flex;
    height: inherit;
    align-items: center;
    margin: 0px 10px;
}

.nav-links > a{
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0px 10px;
    font-family: 'Dosis';
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-links > a:hover{
    background: rgb(241, 241, 241);
    color: black;
}
#nav-checkbox:checked ~ .nav-links{
    display: grid;
    float: right;
    margin: 2% 6% 0px 0px;
    background: white;
    padding: 20px;
    border: 1px solid lightgray;
    height: fit-content;
    border-radius: 5px;
    transition: top 0.3s;
}

#nav-checkbox:checked ~ .nav-links > a{
    margin: 4px;
}

#login-btn{
    background: rgba(16, 138, 158, 1);
    color: white;
}

#register-btn{
    background: rgba(0, 178, 71, 1);
    color: white;
}

#login-btn:hover{
    background: rgba(16, 138, 158, 0.5);
}

#register-btn:hover{
    background: rgba(0, 178, 71, 0.5);
}

.heading-container{
    display: inline-flex;
    padding: 80px 5px;
    width: 100%;
}

.heading, .header-image{
    height: inherit;
}

.header-image{
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header-image > img{
    width: 100%;
}

.heading{
    padding: 10px 50px;
    display: flex;
    align-items: center;
    width: 50%;
}

.heading > div > h1{
    font-family: 'Lexend';
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.heading > div > p, .features-container > p, .features > div > p{
    font-family: 'Lato';
    word-spacing: 6px;
}

.heading > div > #sign-up-btn{
    margin: 30px 0px;
    background: rgba(0, 178, 71, 1);
    padding: 10px 50px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Lexend';
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    float: right;
    text-decoration: none;
}

.heading > div > #sign-up-btn:hover{
    background: rgba(0, 178, 71, 0.7);
}

.heading > div > h1 > span:nth-child(1){
    color: rgba(16, 138, 158, 1);
}

.heading > div > h1 > span:nth-child(2){
    color: rgba(0, 178, 71, 1);
}

.features-container > h2, .price-container > h2{
    font-family: 'Lexend';
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.features-container, .price-container{
    text-align: center;
}

.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features > div{
    width: 350px;
    padding: 2%;
    margin: 1%;
    background: #dfdfdf7a;
    border-radius: 5px;
    text-align: left;
}

.features > div > h3{
    font-family: 'Lexend';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.features > div > p{
    text-align: justify;
}

.features > div > i{
    font-size: 30px;
}



.price-container{
    background: rgb(220 220 220 / 44%);
    padding: 50px 30px;
    margin: 2% 0%;
}

.price-container > button{
    background: rgba(16, 138, 158, 1);
    border: none;
    padding: 10px 50px;
    color: white;
    cursor: pointer;
    font-family: 'Lexend';
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 1px;
}

.price-container > button:hover{
    background: rgba(16, 138, 158, 0.7);
}

.demo-container{
    background: #000000e6;
    color: white;
    padding: 30px;
}

.demo-container > div{
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.demo-container > div > div:nth-child(2){
    text-align: right;
}

.demo-container input:not([type='button']){
    padding: 7px 50px;
    width: 100%;
    border-radius: 2px;
    border: 3px solid white;
}

.demo-container button{
    text-align: center;
    margin: 3% 0%;
    background: rgba(0, 178, 71, 1);
    color: white;
    border: none;
    padding: 10px 50px;
    font-family: 'Dosis';
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.demo-container button:hover{
    background: rgba(0, 178, 71, 0.7);
}

.demo-container h2{
    width: 80%;
    font-family: 'Lexend';
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.demo-container p{
    font-family: 'Dosis';
    font-size: 14px;
    letter-spacing: 1px;
}

.footer-container{
    display: flex;
}

.footer-container > div{
    width: 22%;
    padding: 3%;
}

.footer-container > div > h4{
    font-family: 'Lexend';
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 20px 0px;
    padding: 0;
    text-align: center;
}

.footer-container > div > ul{
    list-style: none;
}

.footer-container > div > ul > li > h5{
    font-family: 'Dosis';
    font-size: 25px;
    margin: 0px;
}

.footer-container > div > ul > li{
    font-family: 'Lato';
    letter-spacing: 1px;
    padding: 10px;
}

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 10px 10px 10px;
}

.login-heading{
    text-align: center;
}

.login-heading > h1{
    font-family: 'Dosis';
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.login-heading > p{
    font-family: 'PT Sans';
}

.login-body{
    display: flex;
    align-items: center;
    width: 100%;
}

.login-form, .register-form{
    width: 50%;
}

.login-form div, .register-form div{
    width: -webkit-fill-available;
    text-align: center;
}

.login-form > div > div, .register-form > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
} 

.login-form input:not([type='submit']), .register-form input:not([type='submit']){
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    background: #f1f1f1;
    outline: 0;
    font-size: 15px;
    color: black;
    padding: 7px 20px;
    transition: border-color 0.2s;
    width: 100%;
    margin: 1%;
}

.login-form input:not([type='submit']):focus{
    border: 3px solid rgba(16, 138, 158, 1);
}

.register-form input:not([type='submit']):focus{
    border: 3px solid rgba(0, 178, 71, 1);
}

.login-form input[type= 'submit'], .register-form input[type= 'submit']{
    padding: 10px 80px;
    color: white;
    border: none;
    border-radius: 2px;
    font-family: 'Dosis';
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 2% 0%;
}

.login-form input[type='submit']{
    background: rgba(16, 138, 158, 1);
}

.register-form input[type='submit']{
    background: rgba(0, 178, 71, 1);
}

::-webkit-input-placeholder{
    color: thistle;
    font-family: 'Dosis';
    letter-spacing: 2px;
    text-transform: uppercase;
}

.social-container{
    padding: 10px;
    margin: 10px;
}

.register-form h2, .login-form h2{
    font-family: 'Dosis';
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.login-form h2{
    margin: 10px;
}

.register-form h3{
    text-align: center;
    font-family: 'Dosis';
}

.social-container i{
    font-size: 20px;
    padding: 7px 15px;
    border-radius: 2px;
    margin: 0px 10px;
    color: white;
    cursor: pointer;
}

.fa-twitter{
    background: #00ACEE;
}

.fa-twitter:hover, .fa-linkedin-in:hover, .fa-google-plus-g:hover, #login:hover, #register:hover{
    opacity: 0.7;
}

.fa-linkedin-in{
    background: #0E76A8;
}

.fa-google-plus-g{
    background: #db3236;
}

@media(max-width:900px){
    .heading-container{
        display: block;
    }

    .heading, .header-image{
        width: 100%;
    }

    .nav-links{
        display: none;
    }

    .nav-btn{
        display: block;
    }

    .demo-container > div{
        display: block;
    }
    
    .footer-container{
        display: block;
    }

    .footer-container > div{
        width: 100%;
    }

    .login-heading > h1{
        font-size: 30px;
    }

    .login-body{
        display: block;
    }

    .login-form, .register-form{
        width: 100%;
    }
}

@media(max-width:1000px){
    .heading > div > h1{
        font-size: 30px;
    }
}