@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Lato&family=Montserrat:wght@200&family=Lexend:wght@500;800&family=Montserrat:wght@500&family=Noto+Sans+JP&family=Oswald:wght@700&family=PT+Sans&family=Rubik&family=Ubuntu&family=Open+Sans+Condensed:wght@300&display=swap');

body{
    background: #f8f8f8ad;
}

h1{
    font-family: 'Oswald';
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}

body > div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form{
    padding: 100px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin: 4% 12%;
    width: 60%;
}

form > div{
    display: flex;
    margin: 20px;
    text-align: left;
}

label{
    width: 40%;
    font-family: 'Dosis';
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    color: #4f4f4f;
}

p{
    width: 60%;
    margin: 0;
    font-family: 'Lexend';
    font-size: 18px;
    color: #2b2bca;
    letter-spacing: 2px;
}

input:not([type='submit']){
    width: 50%;
    padding: 8px 30px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

input[type='submit']{
    background: black;
    padding: 10px 50px;
    border: none;
    color: white;
    font-family: 'Dosis';
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
}

.password-error-msg{
    width: -webkit-fill-available;
    background: red;
    color: white;
    text-transform: uppercase;
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
}